.wishList-container {
    padding-top: 5.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wishlist-card {
    box-shadow: 0 2px 4px -3px rgba(51, 51, 51, 0.2);
}
